.dot {
    height: 8px;
    width: 8px;
    border: solid 1px transparent;
    border-radius: 50%;
    background-color: transparent;
    margin: 6px;
    margin-top: 18px;
    margin-right: 9px;
}

.dot-yellow {
    height: 8px;
    width: 8px;
    border: solid 1px yellow;
    border-radius: 50%;
    background-color: yellow;
    margin-top: 18px;
    margin-right: 9px;
}
.dot-purple {
    height: 8px;
    width: 8px;
    border: solid 1px purple;
    border-radius: 50%;
    background-color: purple;
    margin-top: 18px;
    margin-right: 9px;
}
.dot-green {
    height: 8px;
    width: 8px;
    border: solid 1px green;
    border-radius: 50%;
    background-color: green;
 
    margin-top: 18px;
    margin-right: 9px;
}